<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buraya Baslik</title>
</head>
<body>
    <form action="#" method="post">
        <input type="submit" name="s_btn" value="" id="x1" onclick="changeColor('x1')" >
        <input type="submit" name="s_btn2" value="" id="x2">
    </form>
</body>
</html>
<script>
    function changeColor(id){
        document.getElementById(id).style.backgroundColor = "red";

    }
</script>