@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap");

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#about-body {
    background-image: url("../images/about.JPG");
    background-size: cover;
}

#about-container {
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 30px;
}

p {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.info-link {
    text-decoration: none;
    color: white;
    font-style: italic;
}

.info-link:hover {
    text-decoration: none;
    color: darkblue;
}

.button-1 {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ff6798;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    background-color: white;
    color: #ff6798;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.75s, color 0.25s;
}

.button-1:hover {
    background-color: #ff6798;
    color: white;
}

.button-1:focus {
    background-color: #ff6798;
    color: white;
    outline: 0;
}

.button-2 {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #7d05e0;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    background-color: white;
    color: #7d05e0;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.75s, color 0.25s;
}

.button-2:hover {
    background-color: #7d05e0;
    color: white;
}

.button-2:focus {
    background-color: #7d05e0;
    color: white;
    outline: 0;
}
