@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap");

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#menu-body {
    background-image: url("../images/menu.JPG");
    background-size: cover;
}

.vert-center {
    margin-top: 5px;
    padding: 200px 0;
}

.button-container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 48%;
}

.blue-button {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #005ad5;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    background-color: white;
    color: #005ad5;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.75s, color 0.25s;
}

.blue-button:hover {
    background-color: #005ad5;
    color: white;
}

.blue-button:focus {
    background-color: #005ad5;
    color: white;
    outline: 0;
}

.green-button {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #00e4cb;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    background-color: white;
    color: #00e4cb;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.75s, color 0.25s;
}

.green-button:hover {
    background-color: #00e4cb;
    color: white;
}

.green-button:focus {
    background-color: #00e4cb;
    color: white;
    outline: 0;
}

