@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap");

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#rules-body {
    background-image: url("../images/rules.JPG");
    background-size: cover;
}

#rules-container {
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 30px;
}

p {
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-top: 0   ;
    margin-right: 200px;
    margin-left: 200px;
}

.button-1 {
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    background-color: white;
    color: #c0d938;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.75s, color 0.25s;
}

.button-1:hover {
    background-color: #c0d938;
    color: white;
}

.button-1:focus {
    background-color: #c0d938;
    color: white;
    outline: 0;
}

.button-2 {
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    background-color: white;
    color: #c0d938;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.75s, color 0.25s;
}

.button-2:hover {
    background-color: #c0d938;
    color: white;
}

.button-2:focus {
    background-color: #c0d938;
    color: white;
    outline: 0;
}
