@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap");

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#welcome-body {
  background-image: url("../images/welcome.jpg");
  background-size: cover;
}

#welcome-heading {
  text-align: center;
  color: white;
}

#welcome-heading h1 {
  font-size: 64px;
  margin-top: 20%;
}

#welcome-button {
  margin: 50px auto;
  padding: 40px;
  width: 50%;
}

.welcome-btn-start {
  border: none;
  border-radius: 30px;
  width: 250px;
  height: 60px;
  background-color: #00a165;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.welcome-btn-start {
  background-color: #00a165;
  color: white;
}

.welcome-btn-start:hover {
  background-color: #00c375;

}
